.weekday-row{
    display: flex;
}

.weekday-head {
    color: #555555;
    background-color: #d2ffff;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekday-body {
    flex-grow: 1;
    background-color: #fcf8e0;
    padding: 10px;
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.weekday-body label{
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    color: #666666;
    font-weight: bolder;
    column-gap: 10px;
}

.weekday-body label input{
    padding: 10px;
    color: red;
    background-color: green;
    height: 20px;
    width: 20px;
}